.map-container {
  position: relative;
}

.map {
  width: 100%;
  height: 600px;
  margin-top: 10px;
}

.reset-button {
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: none;
  padding: 0;
  background-color: #ffffff00;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 10;
  font-size: 18px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-button:hover {
  background: #f4f4f400;
}

.reset-button:active {
  transform: scale(0.95);
}
.reset-icon {
  width: 80%;
  height: 80%;
  object-fit: contain; /* 비율 유지하며 버튼 안에 맞춤 */
}

.marker-action {
  margin-top: 20px;
  text-align: center;
}

.save-marker-button,
.remove-marker-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.save-marker-button {
  background-color: #28a745;
  color: white;
}

.remove-marker-button {
  background-color: #dc3545;
  color: white;
}

.save-marker-button:hover,
.remove-marker-button:hover {
  opacity: 0.8;
}
