.selected-result-container {
  position: absolute; /* 다른 요소에 영향을 주지 않도록 설정 */
  top: 35%;
  left: 80%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* 지도 위에 출력되도록 설정 */
}

.selected-result-card {
  padding: 15px;
  text-align: left;
  font-family: "Arial", sans-serif;
}

.selected-result-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.selected-result-card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.selected-result-card strong {
  color: #3498db;
}

.close-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #c0392b;
}

@media (max-width: 600px) {
  .selected-result-container {
    width: 90%;
    top: 55%;
  }

  .selected-result-title {
    font-size: 18px;
  }

  .selected-result-card p {
    font-size: 14px;
  }

  .close-button {
    width: 100%;
    font-size: 18px;
  }
}
